{% extends "layouts.html" %}

{% block header %}
    <h1>About Us</h1>
{% endblock %}

{% block content %}
    <!-- ABOUT US CONTENT -->
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Zambia Conference of Catholic Bishops</h1>
                <p><b>The Zambia Conference for Catholic Bishops</b>, known before 2016 as the <b>Zambia Episcopal Conference
                    (ZEC)</b> was established in 1965. The statutes of the Conference were approved by the <i>Holy See</i>
                     on April 2, 1984.</p>
                <br/>
                <p>The ZCCB is a member of the Association of Member Episcopal Conferences in 
                    Eastern Africa (AMECEA) and Symposium of Episcopal Conferences and of Africa 
                    and Madagascar (SECAM).</p>
            </div>
            <div class="about-col">
                <img src="{{ url_for('static', filename='images/ZCCB.png') }}" alt="about">
            </div>
        </div>
    </section>
{% endblock %}