{% extends "layouts.html" %}

{% block header %}
    <h1>About Us</h1>
{% endblock %}

{% block content %}
    <!-- ABOUT US CONTENT -->
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <h1>Zambia Conference of Catholic Bishops</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dicta fugit doloremque velit modi, totam qui quia nemo repudiandae suscipit 
                illo voluptatum impedit similique quas assumenda. 
                Molestias ipsa illum totam est.</p>
                <br/>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, aspernatur accusamus in, cupiditate libero minus, doloremque
                soluta quasi omnis quae iusto. Corrupti placeat veritatis velit unde iusto vero laboriosam iste?
                Consequuntur aperiam quia rerum eos natus quasi nostrum quis cumque soluta minus porro nobis accusamus, ipsa, illo veritatis quo. Explicabo sequi veritatis deleniti, molestiae eaque labore quam quae saepe odit!
                Ullam nihil quaerat saepe dolores corrupti ratione explicabo sit animi fuga illum delectus magnam ad architecto incidunt minima harum, excepturi iusto odit, distinctio quod eum inventore iure? Laboriosam, officiis nam.
                Cumque beatae recusandae magnam optio, quia laboriosam delectus consectetur minima soluta nobis earum incidunt at, quam nesciunt! Dolor obcaecati suscipit accusamus, quia sequi molestiae voluptates! Ratione, natus rem. Voluptas, perspiciatis.
                Et architecto iste veniam. Eos ullam nemo distinctio consequatur ea ipsa nesciunt ipsum est modi aut aspernatur, libero inventore nobis accusantium sit soluta iusto nam velit praesentium omnis expedita! Fuga!</p>
                    <!-- <a href="#" class="btn-intro abt-btn">Explore Now</a> -->
            </div>
            <div class="about-col">
                <img src="{{ url_for('static', filename='images/Archbishop Chama.JPG') }}" alt="about">
            </div>
        </div>
    </section>
{% endblock %}