{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Archbishop Chama Cropped.jpg') }}" alt="library"> -->
            <h2>ARCHBISHOP GIANFRANCO GALLONE</h2>
            <p>Archbishop Gianfranco Gallone was born on 20th April, 1960 in Ceglie Messapica in 
                the diocese of Oria in Italy. He was ordained priest for the diocese of Oria on 
                3rd September, 1988. <br>He is ordained Bishop San Pietro, Basilica, Roma, Diocese of Rome, Italy.
                On 5th Febraury,2019 was appointed Apostolic Nuncio to Zambia and Titular Archbishop of Motula on 2dn February and ordained on 8th May,2019. 
                Archbishop Gallone entered the Diplomatic Service of the Holy See on 19th June 2000. Subsequently he was posted to Mozambique, Israel, Slovakia, India and Sweden.
                <br>Until his appointment to Zambia, he was serving as an official at the Vatican’s Secretariat of State. <br>Monsignor Gallone holds a doctoral degree in Canon Law and speaks Spanish, English, Portuguese and Slovak, in addition to his native Italian.</p>
            <br/>
            <br>

            <!-- <a href="{{ url_for('MonzeDiocese') }}" class="btn-intro abt-btn">Monze Diocese</a> -->
        </div>
    </div>
</section>

{% endblock %}