{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>CHIPATA DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Rt. Rev. George Zumaile Lungu</b></h4>
            <h4><b>Bishop: Rt. Rev. Benjamin Phiri - Auxililary</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1937-1947 	Right Rev. Ferdinand Martin, M. Afr.</p>
            <p>1947-1970 	Right Rev. Firm Courtemanche</p>
            <p>1970-1996	Right Rev. Archbishop M J Mazombwe (Cardinal)</p><br>

            <div class="parish">
                <h3>Parishes in the Chadiza deanery</h3>
                <ul>
                    <li>Chadiza</li>
                    <li>Vubwi</li>
                    <li> Msipazi</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Chipata deanery</h3>
                <ul>
                    <li>St. Anne’s</li>
                    <li>Mchini</li>
                    <li>Mary Mother of God</li>
                    <li>St. Matthias Mulumba</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Katete deanery</h3>
                <ul>
                    <li>Chikungu</li>
                    <li>Chassa</li>
                    <li>Katete</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Petauke deanery</h3>
                <ul>
                    <li>Minga</li>
                    <li>Petauke</li>
                    <li>Nyimba</li>
                    <li>Mbwindi</li>
                    <li>Ukwimi</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Lundazi deanery</h3>
                <ul>
                    <li>Chama</li>
                    <li>Lundazi</li>
                    <li>Lumezi</li>
                    <li>Lumimba</li>
                    <li>Kanyanga</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Kalichero deanery</h3>
                <ul>
                    <li>Chikowa</li>
                    <li>Kokwe</li>
                    <li>Kalichero</li>
                </ul>
            </div><br>

        
            <br/>
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>510103, Chipata</span>
            </div>
            <div>
                <span>Email:</span>
                <span>cdchipata@gmail.com</span>
            </div>
            <div>
                <span>Tel:</span>
                <span>(+260) 216 221375 </span>
            </div>
            <!-- <div>
                <span>Archbishop</span>
                <span>4</span>
            </div>
            <div>
                <span>Archbishop</span>
                <span>5</span>
            </div> -->
        </div>
    </div>
</section>

{% endblock %}