{% extends "layouts.html" %}

{% block header %}
<div class="text-box">
    <h1>WELCOME TO ZCCB</h1>
    <p>Welcome to Zambia Conference of Catholic Bishops</p>
    <a href="#intro" class="btn-intro">Learn More</a>
</div>
{%endblock%}

{% block content %}

<section class="about-us" id="intro">
    <div class="row">
        <div class="about-col">
            <h1>What is Zambia Conference of Catholics Bishops</h1>
            <p><b>The Zambia Conference for Catholic Bishops</b>, known before 2016 as the <b>Zambia Episcopal Conference
                (ZEC)</b> was established in 1965. The statutes of the Conference were approved by the <i>Holy See</i>
                 on April 2, 1984.</p>
            <br/>
            <p>The ZCCB is a member of the Association of Member Episcopal Conferences in 
                Eastern Africa (AMECEA) and Symposium of Episcopal Conferences and of Africa 
                and Madagascar (SECAM).</p>
                <a href="{{ url_for('about') }}" class="btn-intro abt-btn">Read More</a>
        </div>
        <div class="about-col">
            <img src="{{ url_for('static', filename='images/ZCCB.png') }}" alt="about">
        </div>
    </div>
</section>

<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Our Mission</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dicta fugit doloremque velit modi, totam qui quia nemo repudiandae suscipit 
            illo voluptatum impedit similique quas assumenda. 
            Molestias ipsa illum totam est.</p>
            <br/>
                <a href="#" class="btn-intro abt-btn">Explore Now</a>
        </div>
        <div class="about-col">
            <!-- <img src="#" alt="about"> -->
        </div>
    </div>
</section>

<!-- BISHOPS  SECTION -->
<section class="campus">
    <h1>Bishops and Archbishops</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, aspernatur accusamus in, cupiditate libero minus, doloremque
        soluta quasi omnis quae iusto. Corrupti placeat veritatis velit unde iusto vero laboriosam iste?
        Consequuntur aperiam quia rerum eos natus quasi</p>

    <div class="row">
        <div class="campus-col">
            <img src="{{ url_for('static', filename='images/Archbishop Chama.JPG') }}" alt="london">
           <a href="{{ url_for('ArchbishopChama')}}">
            <div class="layer">
                <h3>Archbishop Chama</h3>
                <p>Archbishop of Kasama</p>
            </div>
           </a>
        </div><div class="campus-col">
            <img src="{{ url_for('static', filename='images/Archbishop Banda.JPG') }}" alt="london">
            <a href="{{ url_for('ArchbishopBanda')}}">
            <div class="layer">
                <h3>Archbishop Banda</h3>
                <p>Archbishop of Lusaka</p>
            </div>
            </a>
        </div>
        <div class="campus-col">
            <img src="{{ url_for('static', filename='images/Bishop Valentine Kalumba.JPG') }}" alt="london">
            <a href="{{ url_for('BishopKalumba')}}">
            <div class="layer">
                <h3>Bishop Valentine</h3>
                <p>Bishop of Livingstone</p>
            </div>
            </a>
        </div>
    </div>
</section>

<section class="facilities">
    <h1>Our Dioces</h1>
    <p> Lorem ipsum dolor sit amet consectetur,
    adipisicing elit. Commodi dolorum ab nihil totam
    doloremque officia,  </p>

    <div class="row">
        <div class="facilities-col">
            <img src="{{ url_for('static', filename='images/Diocese.jpg') }}" alt="library">
            <h3><a href="{{ url_for('KasamaDiocese') }}">Kasama Diocese</a></h3>
            <p> Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Commodi dolorum ab nihil totam
            doloremque officia,  </p>
        </div>
        <div class="facilities-col">
            <img src="{{ url_for('static', filename='images/Diocese.jpg') }}" alt="library">
            <h3><a href="{{ url_for('LivingstoneDiocese') }}">Livingstone Diocese</a></h3>
            <p> Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Commodi dolorum ab nihil totam
            doloremque officia,  </p>
        </div>
        <div class="facilities-col">
            <img src="{{ url_for('static', filename='images/Diocese.jpg') }}" alt="library">
            <h3><a href="{{ url_for('ChipataDiocese') }}">Chipata Diocese</a></h3>
            <p> Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Commodi dolorum ab nihil totam
            doloremque officia,  </p>
        </div>
    </div>
</section>

<section class="call-to-action">
    <h1>Get in touch with us  form <br/>Anywhere Around The World</h1>

    <a href="#" class="btn-intro"> CONTACT US</a>
</section>

{% endblock %}