{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>KABWE DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Rt Rev. CLEMENT MULENGA, SDB</b></h4><br>
            <h4><b>Elected: 29 October 2011</b></h4>
            <h4><b>Predecessor: The first bishop of the diocese</b></h4><br>

            <div class="parish">
                <h3>Parishes in the central deanery</h3>
                <ul>
                    <li>Sacred Heart Cathedral</li>
                    <li>St. Mary’s</li>
                    <li>Holy Rosary   Mukobeko</li>
                    <li>St Joseph Ngungu</li>
                    <li>St. Charles Lwanga Chindwini</li>
                    <li>St. Veronica Kamushanga</li>
                    <li>St. Monica Lukanga</li>
                    <li>St. Monica Mulungushi Agro</li>
                    <li>Holy Trinity Railways</li>
                    <li>Blessed Teresa Chowa</li>
                    <li>St. Francis Xavier Bwacha</li>
                    <li>Holy Cross Mpunde</li>
                    <li>Don Bosco Makululu</li>
                    <li>St. John Maria Vienne Mondake</li>
                    <li>Holy Eucharist Mulungushi P.C.C.</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the northern deanery</h3>
                <ul>
                    <li>Body and Blood Mukonchi</li>
                    <li>Christ the King Likumbi</li>
                    <li>Our Lady of Sorrows Chingombe</li>
                    <li>Divine Mercy Masansa</li>
                    <li>St. Anthony Padua Mkushi</li>
                    <li>Immaculate Heart of Mary Kapiri Mposhi</li>
                    <li>St. Peter’s Serenje</li>
                    <li>St. Francis Serenje</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the southern deanery</h3>
                <ul>
                    <li>St. Paul of the Cross Chibombo</li>
                    <li>St. Peter and Paul Kaparu</li>
                    <li>Holy Cross Chisamba</li>
                    <li>St. Francis De Sales Liteta</li>
                    <li>St. Anthony of  Padua Fringilla </li>
                </ul>
            </div><br>

        
            <br/>
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>80062, Kabwe</span>
            </div>
            <div>
                <span>Kasosolo Road</span>
                <span>Via Nkrumah University</span>
            </div>
            <div>
                <span>Tel:</span>
                <span>0215 221055</span>
            </div>
            <!-- <div>
                <span>Archbishop</span>
                <span>4</span>
            </div>
            <div>
                <span>Archbishop</span>
                <span>5</span>
            </div> -->
        </div>
    </div>
</section>

{% endblock %}