{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>KASAMA DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Most Rev. Ignatius Chamau</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1897 - 1911      Right Rev. Joseph Dupont, (Motomoto), M. Afr</p>
            <p>1913 - 1935   	Right Rev. Etienne Larue. M. Afr</p>
            <p>1935 - 1949   	Right Rev. Alexander Roy, M. Afr</p>
            <p>1949 - 1965   	Right Rev. Marcel Daubechies, M. Afr.</p>
            <p>1965 - 1973   	Most Rev. Clement Chabukasansha</p>
            <p>1973 - 1990   	Most Rev. Elias Mutale. (Died 12/02/1990)</p>
            <p>1990 - 2009  	Most Rev. James Mwewa Spaita</p><br>

            <div class="parish">
                <h3>Parishes in the Chilubula deanery</h3>
                <ul>
                    <li>Chilubula</li>
                    <li>Kapatu</li>
                    <li>Kaputa</li>
                    <li>Nsumbu</li>
                    <li>Lubushi</li>
                    <li>Mporokoso</li>
                    <li>Mulobola</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Kasama deanery</h3>
                <ul>
                    <li>Kasama</li>
                    <li>Malole</li>
                    <li>Mungwi</li>
                    <li>Nseluka</li>
                    <li>St. Anne</li>
                    <li>Kapata</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Luwingu deanery</h3>
                <ul>
                    <li>Chilubi</li>
                    <li>Ipusukilo</li>
                    <li>Luwingu</li>
                    <li>Lwena</li>
                    <li>Matipa</li>
                    <li>Nsombo</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Mbala deanery</h3>
                <ul>
                    <li>Kayambi</li>
                    <li>Mambwe</li>
                    <li>Mbala</li>
                    <li>Mpulungu</li>
                    <li>Nondo</li>
                </ul>
            </div><br>

        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>410143 Kasama</span>
            </div>
            <div>
                <span>Plot</span>
                <span>611, Zambia Road</span>
            </div>
            <div>
                <span>Tel:</span>
                <span>(+260) 214 222202 </span>
            </div>
            <!-- <div>
                <span>Archbishop</span>
                <span>4</span>
            </div>
            <div>
                <span>Archbishop</span>
                <span>5</span>
            </div> -->
        </div>
    </div>
</section>

{% endblock %}