{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>LIVINGSTONE DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Rt. Rev. Valentine Kalumba, OMI</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1936 – 1950:	    Very Reverend V. K. Flynn, OFM. Cap </p>
            <p>1950 – 1974:	    Right Reverend Timothy Phelim O’Shea, OFM. Cap </p>
            <p>1974 – 1984:	    Right Reverend Adrian Mung’andu</p>
            <p>1984 – 2016:  	Right Reverend Raymond Mpezele</p><br>

            <div class="parish">
                <h3>Parishes in the Livingstone deanery</h3>
                <ul>
                    <li>St. Theresa’s Cathedral</li>
                    <li>Airport</li>
                    <li>Dambwa</li>
                    <li>Makunka</li>
                    <li>Maramba</li>
                    <li>Our Lady of Angels</li>
                    <li>Mukuni</li>
                    <li>Linda</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Sesheke deanery</h3>
                <ul>
                    <li>Sesheke</li>
                    <li>Shangombo</li>
                    <li>Sichili</li>
                    <li>Sioma</li>
                    <li>Lusu</li>
                    <li>Mwandi</li>
                </ul>
            </div><br>
           
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>60138, Livingstone</span>
            </div>
            <div>
                <span>Plot NO.</span>
                <span>313, 27 Musi-O-Tunya Road</span>
            </div>
            <div>
                <span>Email:</span>
                <span>seclivd@zamnet.zm </span>
            </div>
            <div>
                <span>Tel</span>
                <span>(+260) 213 321667/324279 </span>
            </div>
            <div>
                <span>Fax</span>
                <span>(+260) 213 32 4280  </span>
            </div>
        </div>
    </div>
</section>

{% endblock %}