{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>MANSA DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Rt. Rev. Patrick Chilekwa Chisanga, OFM Conv.</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1952 – 1961 	Very Rev. Rene Pailloux M. Afr.  (Pref, Apost)</p>
            <p>1961 – 1971 	Right Rev.   Rene Pailloux, M. Afr. (Retired))</p>
            <p>1971 – 1973 	Right Rev. Elias Mutale (Transferred to Kasama)</p>
            <p>1974 – 1991 	Right Rev. James Spaita (Transferred to Kasama)</p>
            <p>1991 – 1993 	Very Rev. Fr. Joseph Musonda (Diocesan Administrator)</p>
            <p>1993 – 2009 	Right Rev. Aaron A. Chisha (Retired)</p>
            <p>2009 – 2013  Very Rev. Michael Merizi, M. Afr.</p><br>

            <div class="parish">
                <h3>Parishes in the Mansa deanery</h3>
                <ul>
                    <li>Mansa</li>
                    <li>Chembe</li>
                    <li>Chimese</li>
                    <li>Kabunda</li>
                    <li>Mapula</li>
                    <li>Nsakaluba</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Kawambwa deanery</h3>
                <ul>
                    <li>Chibote</li>
                    <li>Kawambwa</li>
                    <li>St. Paul’s</li>
                    <li>Kazembe</li>
                    <li>Lufubu</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Samfya deanery</h3>
                <ul>
                    <li>Kasaba</li>
                    <li>Lubwe</li>
                    <li>Samfya</li>
                    <li>Twingi</li>
                </ul>
            </div><br>
           
            <br/>
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>710503, Mansa</span>
            </div>
            <div>
                <span>Tel</span>
                <span>(+260) 211 821341</span>
            </div>
            <div>
                <span>Fax</span>
                <span>(+260) 211 821380</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}