{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>MONGU DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Rt. Rev. Evans Chinyemba Chinyama, OMI</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1933-1936 	Right Rev. Paul Francis Duffy, OMI </p><br>

            <div class="parish">
                <h3>APOSTOLIC GROUPS IN THE DIOCESE</h3>
                <P>Apart from the  Parish and Church Councils, Parish Administrative, Finance, Liturgy and other 
                    parish Committees, Extraordinary Ministers of Holy Communion,
                    choirs, altar servers and stellas, the following organizations exist in the diocese:</P>
            
            </div><br>

            <br/>
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>910449, Mongua</span>
            </div>
            <div>
                <span>Email:</span>
                <span>mongdioc@zamtel.zm </span>
            </div>
            <div>
                <span>Tel:</span>
                <span>(+260) 217 221187</span>
            </div>
            <div>
                <span>Fax:</span>
                <span>(+260) 217 221984</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}