{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>MONZE DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Rt. Rev. Moses Hamungole</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1962–1992    Right Rev. James Corboy SJ</p>
            <p>1992–1998    Right Rev. Paul Lungu SJ</p>
            <p>1998–1999	Right Rev. Raymond Mpezele, Apostolic Administrator</p>
            <p>1999–2014	Right Rev. Emilio Partriaca</p><br>

            <div class="parish">
                <h3>Parishes in the Choma deanery</h3>
                <ul>
                    <li>Chilalantambo</li>
                    <li>Choma</li>
                    <li>Kalomo</li>
                    <li>Maamba</li>
                    <li>Zimba</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Mazabuka deanery</h3>
                <ul>
                    <li>Chirundu</li>
                    <li>Chivuna</li>
                    <li>Lusitu</li>
                    <li>Magoye</li>
                    <li>Mazabuka</li>
                    <li>Nakambala</li>
                    <li>Namalundu</li>
                    <li>Siavonga</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Katete deanery</h3>
                <ul>
                    <li>Chikungu</li>
                    <li>Chassa</li>
                    <li>Katete</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Monze deanery</h3>
                <ul>
                    <li>Chikuni</li>
                    <li>Fumbo</li>
                    <li>Itezhi-Tezhi</li>
                    <li>Kasiya</li>
                    <li>Monze</li>
                    <li>Namwala</li>
                    <li>Pemba</li>
                    <li>St. Mary’s</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>APOSTOLIC GROUPS IN THE PARISHES OF THE DIOCESE</h3>
                <p>Apart from the Parish and Church Councils, Parish Administrative Committees,
                    Parish Development Committees, Catholic Commission for Justice and Peace, Catechetical and Liturgical groups,
                    the following apostolic groups exist in the parishes of the diocese:</p>
            </div><br>
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>660195, Monze</span>
            </div>
            <div>
                <span>Fax:</span>
                <span>213 250575</span>
            </div>
            <div>
                <span>Tel:</span>
                <span>(+260)  213 250854/55</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}