{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>MPIKA DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Rt. Rev. Justin Mulenga</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1933-1936 	Right Rev. J. van Sambeck, M. Afr.</p>
            <p>1938-1946 	Right Rev. Heinrich Horst, M. Afr.</p>
            <p>1948-1957 	Right Rev. Joseph van den Biesen, M. Afr.</p>
            <p>1959-1987 	Right Rev. Adolf J.P. Fürstenberg, M. Afr.</p>
            <p>1987-2004 	Right Rev. Telesphore George Mpundu</p>
            <p>2004-2007 	Most Rev. Telesphore George Mpundu as Apostolic Administrator</p>
            <p>2007-2008	Very Rev. Robert Lavertu, M. Afr as Apostolic Administrator</p>
            <p>2008-2015	Right Rev. Ignatius Chama</p><br>

            <div class="parish">
                <h3>Parishes in the Chadiza deanery</h3>
                <ul>
                    <li>Chadiza</li>
                    <li>Vubwi</li>
                    <li> Msipazi</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Mpika deanery</h3>
                <ul>
                    <li>St.Joseph’s</li>
                    <li>Chalabesa</li>
                    <li>Chilonga</li>
                    <li>Katibunga</li>
                    <li>Kopa</li>
                    <li>St. Andrew’s</li>
                    <li>St. Monica</li>
                    <li>Serenje</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Chinsali  deanery</h3>
                <ul>
                    <li>Chinsali</li>
                    <li>Ilondola</li>
                    <li>Isoka</li>
                    <li>Mulanga</li>
                    <li>Mulilansolo</li>
                    <li>Nakonde</li>

                </ul>
            </div><br>
            
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>450007, Mpikaa</span>
            </div>
            <div>
                <span>Fax:</span>
                <span>(+260) 214 370 112</span>
            </div>
            <div>
                <span>Tel:</span>
                <span>(+260) 214 370 438</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}