{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>NDOLA DIOCESE</h2>
            <br/>
            <h4><b>Bishop: Rt. Rev. Alick Banda</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1938 – 1966 	  Right Rev. Francis Mazzieri, OFM. Conv</p>
            <p>1966 – 1975	  Right Rev. Nicolas Agnozzi, OFM. Conv</p>
            <p>1975 – 2003    Right Rev. Dennis Harold De Jong</p>
            <p>2003 – 2004    Very Rev. Patrick Chilambwe, Diocesan Administrator</p>
            <p>2004 – 2010    Right Rev. Charles Noel O’Regan, SMA</p><br>

            <div class="parish">
                <h3>Parishes in the Bwana Mukubwa deanery</h3>
                <ul>
                    <li>Ndola South</li>
                    <li>Mishikishi</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Chililabombwe deanery</h3>
                <ul>
                    <li>Chililabombwe</li>
                    <li>Konkola</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Chingola deanery</h3>
                <ul>
                    <li>Chingola</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Kalulushi deanery</h3>
                <ul>
                    <li>Kalulushi </li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Lufwanya deanery</h3>
                <ul>
                    <li>Lufwanyama District  </li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Luanshya deanery</h3>
                <ul>
                    <li>Luanshya District</li>
                    <li>Luanshya Rural</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Kitwe deanery</h3>
                <ul>
                    <li>Kitwe North</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Nkana deanery</h3>
                <ul>
                    <li>Kitwe South l</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Mufulira deanery</h3>
                <ul>
                    <li>Mufulira </li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Ndola deanery</h3>
                <ul>
                    <li>Ndola</li>
                    <li>Central & North</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>APOSTOLIC GROUPS IN THE DIOCESE</h3>
                <P>Apart from the Parish and Church Councils, Parish Administrative Committees,
                    Choirs, Altar Boys and Stellas,
                    the following Organisations exist in the Parishes of the Diocese:</P>
            </div><br>
            <br/>
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>70244, Ndola</span>
            </div>
            <div>
                <span>Res:</span>
                <span>46 Kabompo Ave</span>
            </div>
            <div>
                <span>Fax:</span>
                <span>(+260) 212 680481 </span>
            </div>
            <div>
                <span>Tel:</span>
                <span>(+260) 212 681307</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}