{% extends "layouts.html" %}

{% block header %}
    <h1> {{ bishop }}</h1>
{% endblock %}
{% block content %}
<section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <!-- <img src="{{ url_for('static', filename='images/Bishop Mulenga 1.jpg') }}" alt="library"> -->
            <h2>SOLWEZI DIOCESE</h2>
            <br/>
            <h4><b>Bishop: The Rt. Rev. Charles J. S. Kasonde</b></h4><br>
            <h4><b>Predecessor: </b></h4>
            <p>1959 – 1969		Msgr. Rupert Hillerich OFM. Conv</p>
            <p>1976 – 1993		Right Rev. Severiano Abdon Potani OFM Conv.</p>
            <p>1993 – 1995		Very Rev. Charles Noel O’Regan, SMA, Apostolic Administrator</p>
            <p>1995 – 2004		Right Rev. Charles Noel O’Regan, SMA</p>
            <p>2004 – 2007		Right Rev. Charles Noel O’Regan, SMA, Apostolic Administrator</p>
            <p>2007 – 2009		Right Rev. Alick Banda</p><br>

            <div class="parish">
                <h3>Parishes in the Eastern (Solwezi) deanery</h3>
                <ul>
                    <li>Cathedral (St. Daniel)</li>
                    <li>St. Stephen</li>
                    <li>St. Mark</li>
                    <li>St. Anthony</li>
                    <li>Kasapa (St. Dorothy)</li>
                    <li>Kalala (St.Francis)</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Central deanery</h3>
                <ul>
                    <li>Meheba (St.Mary’s)</li>
                    <li>Mumbezhi (Holy Family)</li>
                    <li>Mutanda(St.Paul)</li>
                    <li>Ntambu: (St. Andrew Kim)</li>
                    <li>St.Philip (KapidiA)</li>
                    <li>Kankozhi (St. Veronica)</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Northern (Mwinilunga) deanery</h3>
                <ul>
                    <li>Ikelenge (Sacred Heart of Jesus)</li>
                    <li>Lwawu (Our Lady of Consolation)</li>
                    <li>Mwinilunga (St. Anthony)</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Southern (Kasempa) deanery</h3>
                <ul>
                    <li>Kasempa (St. Andrew)</li>
                    <li>Mufumbwe (Holy Trinity)</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Kabompo deanery</h3>
                <ul>
                    <li>Kabompo (Our Lady of Mt. Carmel)</li>
                    <li>Kapembe (St.Kalemba)</li>
                    <li>Manyinga (St. Joseph)</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>Parishes in the Western (Zambezi) deanery</h3>
                <ul>
                    <li>Zambezi (Our Lady of Fatima)</li>
                    <li>Chinyingi (Sacred Heart of Jesus)</li>
                    <li>Chavuma (Mother of Christ)</li>
                </ul>
            </div><br>
            <div class="parish">
                <h3>APOSTOLIC GROUPS IN THE PARISHES OF THE DIOCESE</h3>
                <p>Apart from the Parish and Church Councils, Parish administrative committees, Choirs,
                    Youth, Altar Boys and Stellas, the following organisations exist in the Parishes:</p>
            </div><br>

        
            <br/>
        </div>
        <div class="blog-right">
            <h3>CONTACT</h3>
            <div>
                <span>P.O Box</span>
                <span>110033 Solwezi </span>
            </div>
            <div>
                <span>Plot</span>
                <span>109/110 Kyankwankwa Street</span>
            </div>
            <div>
                <span>Email:</span>
                <span>diocesesolwezi@gmail.com</span>
            </div>
            <div>
                <span>Tel:</span>
                <span>(+260) 218 821883</span>
            </div>
        </div>
    </div>
</section>

{% endblock %}